.bio.element {
    grid-template-areas:
        "header ."
        "image info";
}

.bio.element h1 span.name {
    color: var(--fg-color);
}

.bio.element section {
    grid-area: content;
}

.bio.element .link_section.a {
    grid-area: links1;
}

.bio.element .link_section.b {
    grid-area: links2;
}

.bio.element .blurb {
    display: grid;
    grid-template-areas: "header" "links1" "content" "links2";
}

.bio.element .first {
    position: sticky;
    top: 0;
    grid-area: nav;
    width: 100%;
}

.bio.element image {
    --background-color: red;
    --background-color-faded: darkRed;
    --background-color-muted: pink;
    --accent-color: blue;
    --accent-color-faded: darkBlue;
}

.bio.element .circle {
    background-color: var(--accent-color) !important;
    width: 35em;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}