.bio.element {
    grid-template-areas:
        "header ."
        "image info";
}

.bio.element h1 span.name {
    color: var(--fg-color);
}

.bio.element section {
    grid-area: content;
}

.bio.element .link_section.a {
    grid-area: links1;
}

.bio.element .link_section.b {
    grid-area: links2;
}

.bio.element .blurb {
    display: grid;
    grid-template-areas: "header" "links1" "content" "links2";
}

.bio.element .first {
    position: sticky;
    top: 0;
    grid-area: nav;
    width: 100%;
}

.bio.element .image {
    position: relative;
}

.bio.element .circle {
    background-color: var(--accent-color) !important;
    top: 10em;
    transform: translateX(-50%);
}

 .bio.element .image .drink {
    position: absolute;
    width: 27em;
    top: 20em;
    left: 50%;
    transform: translateX(-50%);
 }

  .bio.element .image #steam {
    position: absolute;
    top: 3em;
    width: 40em;
    fill: var(--bg-color-muted);
    left: 50%;
    transform: translateX(-50%);
  }