:root {
    --sky-color: none;
    --sky-light-color: none;
}

@keyframes loading-animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading-animation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loading-animation3 {
    0% {
        opacity: 0;
        background-color: var(--sky-color);
    }
    100% {
        opacity: 1;
        background-color: var(--sky-light-color);
    }
}

:root {
    --background-gradient: radial-gradient(circle at 50% 50%, var(--sky-light-color) 80%, var(--sky-light-color) 80%, var(--sky-color) 150%)
}


body, :root { 
    animation: loading-animation3 1s ease-in 0s 1 normal forwards;
}

.loader {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    z-index: 1;
    background-image: var(--background-gradient);;
    animation: loading-animation2 0.5s ease-out 0s 1 normal forwards;
}

#root {
    margin: 0;
    padding: 0;
    background-image: var(--background-gradient);
    animation: loading-animation 1.5s ease-in 0s 1 normal forwards;
}