#tools {
    grid-area: elements;
    display: grid;
    grid-template-areas: "tool" "carousel";
}

.carousel span.arrow {
    margin-inline: 2rem;
    font-size: var(--step-5);
    cursor: grab;
}

.carousel ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
}

.carousel {
    grid-area: carousel;
    display: flex;
    max-width: 120ch;
    width: 100%;
    align-self: end;
    align-items: center;
}

.carousel li {
    display: inline-block;
    width: 8ch;
    min-width: 8%;
    margin-inline: 1rem;
    text-align: center;
    color: var(--bg-color-muted);
}

.carousel li:hover {
    color: var(--text-color);
}