#tools {
    grid-area: elements;
    grid-template-areas: "tool" "carousel";
    justify-items: start;
}

.scroll_list {
    display: flex;
    overflow-x: hidden;
    width: max-content;
}

.carousel span.arrow {
    margin-inline: 2rem;
    font-size: var(--step-5);
    color: var(--bg-color-muted);
    cursor: grab;
    user-select: none;
}

.carousel span.arrow:hover {
    color: var(--text-color)
}

.carousel ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    transform: translate(-33.33%);
}

.carousel {
    grid-area: carousel;
    display: flex;
    max-width: 120ch;
    width: 100%;
    align-self: end;
    align-items: center;
    justify-self: center;
    position: relative;
}

.carousel li {
    display: inline-block;
    width: 8ch;
    min-width: 10ch;
    margin-inline: 1rem;
    text-align: center;
    color: var(--bg-color-muted);
    cursor: pointer;
}

.carousel li:hover,
.carousel li.selected {
    color: var(--text-color);
    backface-visibility: hidden !important;
    will-change: transform !important;
}

.tool_list {
    grid-area: tool;
    width: 100%;
    overflow: hidden;
}