.page_footer {
    top: calc(100% + 12em);
    display: block;
    position: absolute;
    inset-inline: 25%;
    padding-top: 3em;
    text-align: center;
    color: var(--bg-color-muted);
    border-top: 3px solid var(--bg-color-muted);
}