.elements {
    display: grid;
    grid-template-areas: "element";
    grid-area: elements;
    justify-items: center;
    position: relative;
}

.element .blurb {
    grid-area: info;
    background-color: var(--bg-color-faded);
    border-radius: 3em;
    min-height: 35rem;
    margin: 1rem 2rem;
    padding: 2rem;
    display: grid;
    grid-template-areas: "header" "content" "links";
    box-sizing: border-box;
    align-content: space-between;
    max-width: 60ch;
}

.element .info {
    grid-area: content;
    margin-block: 0.5rem;
}

.element .image {
    position: relative;
    grid-area: image;
    height: 100%;
    max-width: 100%;
    max-height: 35rem;
    aspect-ratio: 36 / 25;
    font-size: clamp(0.7rem, 1vw, 1rem);
    width: 40em;
}

.element .image .circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32em;
    height: 32em;
    background-color: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
}

.element .image .laptop, .element .image .drink {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    height: auto;
    filter: drop-shadow(0 0 0 var(--bg-color));
}

.element .image .laptop {
    width: 37em;
}

 .element .image .drink {
    width: 35em;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.element .image img {
    position: absolute;
    width: 28em;
    top: 50%;
    left: 50%;
    transform: translate(-51.5%, -68%);
}

.element {
    display: grid;
    max-width: 1280px;
    height: 100%;
    justify-items: center;
    grid-template-areas: "info image";
    align-items: start;
}

.element header {
    grid-area: header;
}

.element header h1 {
    color: var(--bg-color-muted);
    margin-block: 0.5rem 0;
}

.element h1 span.name {
    color: var(--fg-color);
    white-space: nowrap;
}

.element p {
    color: var(--text-color);
    margin-block: 0 1.25rem;
    line-height: 1.7;
}

.element .link_section {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.element .intra_links div {
    margin-top: 0;
    font-weight: bold;
    font-size: var(--step-1);
    color: var(--accent-color-muted);
}

.element .links {
    display: flex;
    align-items: end;
    min-height: 4rem;
}

.element .link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--step-1);
    color: var(--fg-color-muted);
    text-decoration: none;
}

.element .link:hover {
    color: var(--fg-color);
}

.element .tag {
    letter-spacing: 0.05ch;
    grid-area: tag;
    color: var(--fg-color-muted);
    font-weight: lighter;
    margin-block: 0.5rem;;
}

.element .view_more a {
    all: unset;
    cursor: pointer;
}

.element .view_more:hover {
    color: var(--fg-color);
}

.element .links .icon {
    color: currentColor;
    width: 2.5em;
    height: auto;
    position: relative;
    vertical-align: middle;
    margin-inline: 0.5em;
    color: var(--bg-color-muted);
    transition: all 0.25s ease;
}

.element .links .icon:hover {
      color: var(--fg-color); 
      transform: scale(1.1);
}

.element .sub {
    color: var(--accent-color-muted);
    font-weight: lighter;
    margin-bottom: 0;
}

.element header {
    justify-self: start;
}

.element .navigation {
    position: relative;
}

.element .navigation {
    grid-area: nav;
}

.element nav ul {
    display: inline-flex;
    text-align: center;
    width: 100%;
    font-weight: bold
}

.element nav ul li {
    display: flex;
    position: relative;
    margin: 1.5rem;
    height: 3rem;
    width: 3rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    color: var(--text-color-accent);
    cursor: pointer;
    transition: all 1s;
}

.element nav ul li.selected::before  {
    background-color: var(--accent-color);
}

.element nav ul li:hover:not(.selected)::before {
    border-color: var(--fg-color);
    background-color: var(--fg-color);
}

.element nav ul li::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: var(--fg-color-muted);
    height: 6.5rem;
    width: 6.5rem;
    z-index: -1;
}

.element nav ul li::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    z-index: -1;
}