#navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    gap: 1em;
    margin-block: 0.25em;
    list-style-type: none;
}

#navigation ul li {
    position: relative;
    cursor: pointer;
}

/* main nav item */
#navigation ul li, #navigation:hover ul li.selected {
    border: 3px solid var(--fg-color);
    border-radius: 2px;
    font-size: var(--step-0);
    color: var(--text-color);
    letter-spacing: 0.1ch;
    background-color: revert;
    color: var(--fg-color);
}

/*  highlighted nav item */
#navigation ul li:hover, #navigation ul li.selected, #navigation:hover ul li.selected:hover {
    border-color: var(--accent-color);
    border-radius: 999px;
    background-color: var(--accent-color);
    color: var(--text-color-accent);
}

#navigation ul li.selected {
    cursor: default !important;
}

#navigation ul li a {
all: unset;
display: block;
position: relative;
padding: 1em 2em; /* adjusted for negative margin */
margin: -0.75em -1em; /* avoid glitches */
}

#navigation .icon {
    color: currentColor;
    width: 0.8em;
    height: auto;
    position: relative;
    vertical-align: middle;
    margin: 0 0.5em 0.2em 0;
}